.custom-select-container{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
  
  .custom-select {
    display: flex;
    align-items: center;
    justify-content:  flex-start;
    padding: 8px;
    cursor: pointer;
    background-color: inherit;
    flex-grow: 1;
  }
  
  .custom-select span {
    margin-left: 8px;
  }
 
  .custom-select-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .custom-select-option {
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .custom-select-option:hover {
    background-color: #f0f0f0;
  }
  
  .flag-icon {
    width: 30px;
    height: 20px;
    margin-right: 8px;
  }
  
  .arrow {
    margin-left: 8px;
  }
  